@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime

<div class="industrial-wrapper">
    <AuthorizeView>
        <Authorized>
            <NavMenu />
        </Authorized>
    </AuthorizeView>

        <main class="container-fluid px-3 px-lg-5">
        <CustomErrorBoundary>
            @Body
        </CustomErrorBoundary>
    </main>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("hideLoader");
        }
    }
}