@inherits LayoutComponentBase

<div class="industrial-wrapper">
    <NavMenu />

    <main class="container mt-5">
        <CustomErrorBoundary>
            @Body
        </CustomErrorBoundary>
    </main>
</div>