@inherits LayoutComponentBase

<div class="industrial-wrapper">
    <AuthorizeView>
        <Authorized>
            <NavMenu />
        </Authorized>
    </AuthorizeView>

    <main class="container mt-5">
        <CustomErrorBoundary>
            @Body
        </CustomErrorBoundary>
    </main>
</div>