<div class="industrial-navbar">
    <div class="container d-flex justify-content-between align-items-center">

        <div class="brand-logo">
            VENDING_MANAGER_V1.0
        </div>

        <nav class="d-flex gap-4">
            <NavLink class="industrial-link" href="" Match="NavLinkMatch.All">
                [ PANEL DE CONTROL ]
            </NavLink>

            <NavLink class="industrial-link" href="reportes">
                [ REPORTES ]
            </NavLink>

            <NavLink class="industrial-link" href="maquinas">
                [ MÁQUINAS ]
            </NavLink>
        </nav>

    </div>
</div>


